SUPER_HERO_ACCESS_TOKEN=f1e427d6febb240ee9446c48462b8d8a
SUPER_HERO_API=https://superheroapi.com/api

DB_PORT=5432
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=postgres

DEVELOPMENT=True
LOG_LEVEL=INFO